main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    opacity: 0;
}
main.done1 {
    opacity: 1;
}
#game-board {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    grid-template-rows: repeat(10, 45px);
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.snake {
    background-color: green;
}

.food {
    background-color: red;
}
