body {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    opacity: 0;
}
main.done1 {
    opacity: 1;
}
#game-board {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    grid-template-rows: repeat(10, 45px);
}
.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.snake {
    background-color: green;
}
.food {
    background-color: red;
}


.parameters {
    position: absolute;
    left: 10%;
    margin-bottom: 15%;
}
.text_view{
    font-size: 30px;
}

.restart {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
}
